body {
  margin:0;
  padding:0;
  min-height: 100vh;
  display: column;
}

.carousel-caption {
    display: inline-block;
    padding: 10px;
    background: rgba(255, 255, 255, 0.494);
    border-radius: 10px;
  }
