body {
  margin:0;
  padding:0;
  min-height: 100vh;
  display: column;
}

.carousel-caption {
  padding: 10px;
  color: white !important;
  background-color: rgb(33, 37, 41);
  border-color: rgb(66, 69, 73);
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
}

.carousel-inner img {
  height: 94vh;
  width: 100%;
  object-fit: cover;
}

#blogEntries {
  width: 100%;
}

#blogHeaderImg img {
  height: 60vh;
  width: 100%;
  object-fit: cover;
}

.blogData {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.blogData iframe {
  width: 50vw;
}

.blogData img {
  height: 40vh;
  width: 100%;
  object-fit: cover;
}